<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="jumbotron" style="text-align: center;">
      <p>Please fill out the forms below</p>
      <form method="post">
      <select name="section">
        <option value="brew">Brewskies</option>
        <option value="burg">Burgers</option>
        <option value="comb">Combos</option>
        <option value="deez">Deezerts</option>
        <option value="dip">Dippers</option>
        <option value="hen">Hen House</option>
        <option value="home">Home Wrecker</option>
        <option value="pick">Pick Yer</option>
        <option value="rab">Rabbit Fixins</option>
        <option value="subs">Subs N Sandwiches</option>
        <option value="wee">Weenies</option>
        <option value="wet">Wet Yer Wissel</option>
        <option value="youn">Youngin</option>
      </select>
      <input type="text" name="name" placeholder="Amazing Food Name"></input>
      <input type="text" name="Description" placeholder="Description of item"></input>
      <input type="text" name="price" placeholder="$4.99"></input>
      <button type="submit" class="btn btn-success">Add new item</button>
    </form>
    </div>
  </body>
</html>
