<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include breadcrumb.ejs %>
    <div class="jumbotron" style="text-align: center; width: 50%; margin: 0 auto;">
      <p>Please fill out the form below</p>
      <form method="post">
      <select class="form-group" name="section">
        <option value="brew">Brewskies</option>
        <option value="burg">Burgers</option>
        <option value="comb">Combos</option>
        <option value="deez">Deezerts</option>
        <option value="dip">Dippers</option>
        <option value="hen">Hen House</option>
        <option value="home">Home Wrecker</option>
        <option value="pick">Pick Yer</option>
        <option value="rab">Rabbit Fixins</option>
        <option value="subs">Subs N Sandwiches</option>
        <option value="wee">Weenies</option>
        <option value="wet">Wet Yer Wissel</option>
        <option value="youn">Youngin</option>
        <option value="xtra">XtraFixins</option>
      </select>
      <div>
      <input type="text"  class="form-group" name="name" placeholder="Amazing Food Name"></input>
    </div>
  <div>
      <input type="text"  class="form-group" name="Description" placeholder="Description of item"></input>
    </div>
  <div>
      <input type="text" class="form-group" name="price" placeholder="$4.99"></input>
    </div>
      <button type="submit" class="btn btn-success">Add new item</button>
    </form>
    </div>
  </body>
</html>
