
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav aria-label="breadcrumb">
  <style>
  .btn2 {
    display: inline-block;
    background-color:#28a745;
    color: rgb(255,255,255);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-left: 0px;
    opacity: 0.9;
}
  </style>

  <ol class="breadcrumb" style="width: 50%; margin: 0 auto; margin-bottom: 10px;">
      <li ><a href="/editor" class="btn btn-success">Home</a></li>
  </ol>
</nav>
