<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <%- include breadcrumb.ejs %>
    <div class="jumbotron" style="text-align: center; margin: 0 auto; width: 50%;">
      <h1>Greetings,</h1>
      <p>To see a list of all items from a certain section, please choose an option from the drop dropdown
      below. After selecting the option please click "Show Items"</p>
      <form method="post">
      <select name="filter">
        <option value="brew">Brewskies</option>
        <option  value="burg">Burgers</option>
        <option  value="comb">Combos</option>
        <option  value="deez">Deezerts</option>
        <option  value="dip">Dippers</option>
        <option  value="hen">Hen House</option>
        <option  value="home">Home Wrecker</option>
        <option  value="pick">Pick Yer</option>
        <option  value="rab">Rabbit Fixins</option>
        <option  value="subs">Subs N Sandwiches</option>
        <option  value="wee">Weenies</option>
        <option  value="wet">Wet Yer Wissel</option>
        <option  value="youn">Youngin</option>
        <option  value="xtra">XtraFixins</option>
      </select>
      <button type="submit" class="btn btn-success">Show Items</button>
      <hr />
      <div>
        <p>To add a new item, please click the button below</p>
            <a href="/addItem" class="btn btn-success">New Item</a>
      </div>
    </form>
    </div>
  </body>
</html>
