<!doctype html>
<html lang="en">
    <head>
        <title>Hillbilly Hotdogs - Page 3</title>
	    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="../styles/proto.css"/>
        <link rel="stylesheet" type="text/css" href="../styles/print-proto.css" media="print" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="flex-row-1">
            <div id="page1">
                <div class="col row2-left _50">
                    <div class="logo1">
                        <img src="../pictures/subs/logo2.png" class="logopage1">
                    </div>
                </div>
                <div class="col row2-right _50">
                    <h1 class="grubheader">GRUB MENU</h1>
                </div>
                <div class="col row2-left _50">
                    <h2 class="comboheader">COMBOS N' SPECIALS</h2>
                    <div class="paper extrapaper comboppr">
                        <div class="combospaper">
                        </div>
                    </div>
                </div>
                <div class="col row2-right _50">
                    <h2 class="wetyerwisselheader">WET YER WISSEL</h2>
                    <div class="paper extrapaper wetppr">
                        <div class="wisselpaper"></div>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="brewextra">
                        <h2 class="brewskiesheader">WE GOT THE BREWSKIES</h2>
                        <div class="paper brew brewppr">
                            <div class="brewskiespaper">
                            </div>
                        </div>
                    </div>
                    <img  class="brewimg" src="../pictures/subs/brewskies.png">
                </div>
            </div>
            <div id="page2">
                <div class="flex-row">
                    <div class="col row1 _100">
                        <h2 class="weenies">WE GOT THE WEENIES</h2>
                        <div class="paper wnppr">
                            <div class="weeniespaper">
                            </div>
                            <div class="instagram">
                                <img src="../pictures/weenies/instagram.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="page3">
                <div class="flex-row">
                    <div class="col row1 _100">
                        <h2 class="dippers">HILLBILLY DIPPERS</h2>
                        <div class="paper dpppr">
                            <div class="dipperitems">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col row2-left _50">
                    <h2 class="homewreckers">HOMEWRECKERS</h2>
                    <div class="paper hwppr">
                        <div class="homewreckerpaper">
                        </div>
                        <h3 class="pickyer">PICK YER 'WRECKER'</h3>
                        <div class="pickyerpaper pyppr">
                        </div>
                    </div>
                </div>
                <div class="col row2-right _50">
                    <div class="homewrecker-img">
                        <img src="../pictures/burgers/HomewreckerImg.png">
                    </div>
                </div>
                <div class="col row2-left _50 younginsec">
                    <h2 class="youngins">YOUNGIN'S MEAL</h2>
                    <div class="paper yippr">
                        <div class="younginpaper">
                        </div>
                        <div class="youngins-img">
                            <img src="../pictures/burgers/kids.png">
                        </div>
                    </div>
                </div>
                <div class="col row2-right _50 burgersection">
                    <h2 class="burgers">BUBBA BURGERS</h2>
                    <div class="paper brgppr">
                        <div class="burgerspaper">
                        </div>
                    </div>
                </div>
            </div>

            <div id="page4">
                <div class="col row2-left _50 subssec">
                    <h2 class="subsheader">SUBS N' SANDWICHES</h2>
                    <div class="paper subppr">
                        <div class="subsNSandwichespaper">
                        </div>
                    </div>
                    <h2 class="henhouseheader">HEN HOUSE</h2>
                    <div class="paper henppr">
                        <div class="henpaper">
                        </div>
                    </div>
                    <h2 class="deezertsheader">DEEZERTS</h2>
                    <div class="paper deeppr">
                        <div class="deezertspaper">
                        </div>
                    </div>
                </div>
                <div class="col row2-right _50 rabsec">
                    <div class="logo4">
                        <img src="../pictures/subs/logo2.png">
                    </div>
                    <h2 class="rabbitheader">RABBIT FIXIN'S</h2>
                    <div class="paper rabppr">
                        <div class="rabbitFixinspaper">
                        </div>
                    </div>
                    <h2 class="xtraheader">XTRA FIXIN'S</h2>
                    <div class="paper xtrappr">
                        <div class="xtrapaper">
                        </div>
                    </div>
                </div>
            </div>
            <div id="page5">
                <div class="col row1 _100">
                    <div class="ssk-pic">
                        <img src="../pictures/burgers/SSK-1999.png">
                    </div>
                    <div class="rect">
                        <img src="../pictures/burgers/Rounded-Rectangle.png">
                        <p class="labelText">SONNY & SHARIE KNIGHT</br>1999</p>
                    </div>
                    <div class="backText">
                        <div class="backpaper">
                        </div>
                    </div>
                    <p class="songHeader">THE WEENIE SONG</p>
                    <div class="paper songppr">
                        <div class="songText">
                        </div>
                    </div>
                    <p class="iceCream">Sing the Weenie Song and get a free ice cream cone!</br>(No Cheating!)</p>
                </div>
            </div>
            <div id="page6">
                <div class="col row1 _100">
                    <div class="title-logo">
                        <img src="../pictures/subs/logo2.png">
                    </div>
                    <p class="add">6951 OHIO RIVER ROAD</br>LESAGE, WV</p>
                    <p class="titleText">Phone:</br>304-762-2458</br></br>Hours:</br>Monday-Thursday 11-6</br>Friday and Saturday 11-7</br>Sunday 12-5</p>
                    <div class="hammock-pic">
                        <img src="../pictures/burgers/hammock.png">
                    </div>
                </div>
            </div>
        </div>
    </body>


    <script>
    $.getJSON("/weenies", function (data) {
        for(var i = 0; i < data.length; i++){
           $('.weeniespaper').append('<div class="items weeniesitems"><div class="itemTitle">' + data[i].item  +'</div> <p class="itemPrice"> ' + data[i].price + '</p>'+'<p class="itemDescription">' + data[i].Description + '</div>');
        }
    $('.paperitems').append('<div class="allbeef"><p id="allbeefweenies">100% ALL BEEF Weenies</p></div>')

    $.getJSON("../json/subsNSandwiches.json", function (data) {
      for(var i = 0; i < data.length; i++){
        $('.subsNSandwichespaper').append('<div class="items"><div class="itemTitle">' + data[i].item + '</div> <p class="itemPrice">' + data[i].price + '</p><br /><p class="itemDescription">' + data[i].Description + '</div>');
      }
    });

    $.getJSON("../json/henHouse.json", function (data) {
      for(var i = 0; i < data.length; i++){
        $('.henpaper').append('<div class="items"><div class="itemTitle">' + data[i].item + '</div> <p class="itemPrice">' + data[i].price + '</p><br /><p class="itemDescription">' + data[i].Description + '</div>');
      }
    });

    $.getJSON("../json/rabbitFixins.json", function (data) {
      for(var i = 0; i < data.length; i++){
        $('.rabbitFixinspaper').append('<div class="items"><div class="itemTitle">' + data[i].item + '</div> <p class="itemPrice">' + data[i].price + '</p><br /><p class="itemDescription">' + data[i].Description + '</div>');
      }
    });

    $.getJSON("../json/xtraFixins.json", function (data) {
      for(var i = 0; i < data.length; i++){
        $('.xtrapaper').append('<div class="items xItems"><div class="itemTitle xTitle">' + data[i].item + '</div> <p class="itemPrice xPrice">' + data[i].price + '</p><br /><p class="itemDescription xDescription">' + data[i].Description + '</div>');
      }
    });

    $.getJSON("../json/deezerts.json", function (data) {
      for(var i = 0; i < data.length; i++){
        $('.deezertspaper').append('<div class="items"><div class="itemTitle">' + data[i].item + '</div> <p class="itemPrice">' + data[i].price + '</p><br /><p class="itemDescription">' + data[i].Description + '</div>');
      }
    });

    $.getJSON("../json/dippers.json", function(data){
        for(var i=0; i < data.length; i++){
            if (data[i].item != "") {
                $('.dipperitems').append('<div class="items"><div class="itemTitle">' + data[i].item + '</div> <p class="itemPrice">' + data[i].price + '<br /> <p class="itemDescription">' + data[i].Description + '</div>');
            }
        }
    });

    $.getJSON("../json/homewrecker.json", function(data){
        for(var i=0; i < data.length; i++){
            if (data[i].item != "") {
                $('.homewreckerpaper').append('<div class="items"><div class="itemTitle">' + data[i].item + '</div> <p class="itemPrice">' + data[i].price + '<br /> <p class="hwitemDescription">' + data[i].Description + '</div>');
            }
        }
    });

    $.getJSON("../json/pickyer.json", function(data){
        for(var i=0; i < data.length; i++){
            if (data[i].Description != "") {
                $('.pickyerpaper').append('</div> <div class="itemDescription">' + data[i].Description + '</div> <p class="itemPrice">' + data[i].price + '</div>');
            }
        }
    });

    $.getJSON("../json/youngin.json", function(data){
        for(var i=0; i < data.length; i++){
            if (data[i].item != "") {
                $('.younginpaper').append('<div class="items"><div class="itemTitle">' + data[i].item + '</div> <p class="itemPrice">' + data[i].price + '<br /> <p class="itemDescription">' + data[i].Description + '</div>');
            }
        }
    });

    $.getJSON("../json/burgers.json", function(data){
        for(var i=0; i < data.length; i++){
            if (data[i].item != "") {
                $('.burgerspaper').append('<div class="items brgItem"><div class="itemTitle brgTitle">' + data[i].item + '</div> <p class="itemPrice brgPrice">' + data[i].price + '<br /> <p class="itemDescription brgDescription">' + data[i].Description + '</div>');
            }
        }
    });

  	$.getJSON("../json/combos.json", function (data) {
  		for(var i = 0; i < data.length; i++){
  			$('.combospaper').append('<div class="items"><div class="itemTitle">' + data[i].item + '</div> <p class="itemPrice">' + data[i].price + '</p><br /><p class="itemDescription">' + data[i].Description + '</div>');
  		}
      $('.combospaper').append('<div class="bottom"><p>***Prices on combos vary</p><p> Always ask for Military Discounts, and Marshall University Student Discounts!</p></div>')
  	});

    $.getJSON("../json/wetyerwissel.json", function (data) {
  		for(var i = 0; i < data.length; i++){
  			$('.wisselpaper').append('<div class="items bItems"><div class="itemTitle bTitle">' + data[i].item + '</div> <p class="itemPrice bPrice">' + data[i].price + '</p><br /><p class="itemDescription bDescription">' + data[i].Description + '</div>');
  		}
  	});

  	$.getJSON("../json/brewskies.json", function (data) {
  		for(var i = 0; i < data.length; i++){
  			$('.brewskiespaper').append('<div class="items bItems"><div class="itemTitle bTitle">' + data[i].item + '</div> <p class="itemPrice bPrice">' + data[i].price + '</p><br /><p class="itemDescription bDescription">' + data[i].Description + '</div>');
  		}
  	});

    $.getJSON("../json/back-cover.json", function (data) {
  		for(var i = 0; i < data.length; i++){
  			$('.backpaper').append('<div class="backText"></div> <p class="backPara">' + data[i].backPara + '</div><p class="author">' + data[i].author);
  		}
  	});

    $.getJSON("../json/songText.json", function (data) {
  		for(var i = 0; i < data.length; i++){
            $('.songText').append('<div class="songItem"></div> <p class="songPara">' + data[i].songPara + '</div><p class="songFinish">' + data[i].songFinish);
  		}
  	});

    });
    </script>
</html>
