html{
  background-image: url('../pictures/weenies/5thirds.png');
}
body{
  height: 2000px;
}

.main{
  height: 400vh;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}

.row{
  display: inline-block;
  height: 25%;
}
.header > img{
  width: 25%;
}

.half{
  height: 40%;
}
.quarter{
    height: 20%;
}

.footer{
  background-color: black;
}
.middle{
  background-color: red;
}
.header{
  background-color: white;
}

h2{
  background-image: url('../pictures/weenies/Wood_Label.png');
  background-repeat: no-repeat;
  height: auto;
  text-align: center;
}

h1{
  background-image: url('../pictures/weenies/Wood_Label.png');
  background-repeat: no-repeat;
  height: auto;
  text-align: center;
}

.grubmenu{
  background-image: url('../pictures/weenies/Wood_Label.png');
  background-repeat: no-repeat;
  height: auto;
  width: 60%;
}

.wrap{
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.center{
  margin: 0 auto;
}
.page1{
  display: block;
  height: 25%;
  width: 85%;
  background: blue;
}
.page2{
  display: block;
  width: 85%;
  height: 25%;
  background: pink;
}
.page3{
  display: block;
  width: 85%;
  height: 25%;
  background: yellow;
}
.page4{
  display: block;
  width: 85%;
  height: 25%;
  background: green;
}
