html{
    margin:auto;
    overflow-x: hidden;
    overflow-y: auto;
}

body{
    background: url("../pictures/burgers/5thirds222.png");
    background-repeat: repeat-y;
    -webkit-background-size: contain ;
    -moz-background-size: contain;
	-o-background-size: contain;
    background-size: contain;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    overflow-x: hidden;
    overflow-y: auto;
}

h1{
    font-family: 'Amatic SC', cursive;
    background-image: url("../pictures/burgers/woodLabel.png");
    max-width: 1049px;
    background-repeat: no-repeat;
    font-size: 6vw;
    color: yellow;
    text-shadow: 4px 4px black;
    text-align: center;
    letter-spacing: 12px;
    margin: auto;
    margin-top: 2%;
    width: 80%;
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h2{
    font-family: 'Amatic SC', cursive;
    background-image: url("../pictures/burgers/woodLabel.png");
    background-position: center;
    height: 57px;
    max-width: 500px;
    background-repeat: no-repeat;
    font-size: 5vw;
    color: yellow;
    text-shadow: 4px 4px black;
    text-align: center;
    letter-spacing: 6px;
    margin: auto;
    margin-top: 2%;
    width: 80%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    background-size: cover;
}

h3{
    font-family: 'Amatic SC', cursive;
    background-repeat: no-repeat;
    background-image: url("../pictures/burgers/woodLabel.png");
    color: yellow;
    font-size: 25px;
    text-shadow: 3px 3px black;
    text-align: center;
    margin:auto;
    margin-top: 2px;
    width: 55%;
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#page1 {
        display: flex;
        flex-flow: row wrap;
        justify-content: center space-around;
        margin: 0;
}
#page2{
        margin-top: -35%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center space-around;

}
#page3 {
        display: flex;
        flex-flow: row wrap;
        justify-content: center space-around;
        margin: 0;
}
#page4 {
        display: flex;
        flex-flow: row wrap;
        justify-content: center space-around;
        margin: 0;
}
#page5{
    display: none;
}
#page6{
    display: none;
}


.flex-row{
    width: 95%;
    margin-bottom: 1%;
}

.flex-grid > * {
  padding: 10px;
  flex: 1 100%;
}

.col {
  margin-top: 100px;
}

.paper{
    background-image: url(../pictures/burgers/longpaper2.png);
    background-repeat: repeat-y;
    background-size: 71em 68em;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 10px;
    max-width: 1080px;
    min-width: 280px;
    width: 85%;
    height: auto;
    margin: auto;
    display: table;
}

.row1{
    width: 90%;
    height: auto;
    margin: auto;
}
.row2-left{
    width: 40%;
    height: auto;
    margin: auto;
}
.row2-right{
  margin-top: 100px;
    width: 40%;
    height: auto;
    margin: auto;
}

/*PAGE 1 CLASSES*/
.logo1{
    margin-bottom: 5%;
    margin-top: 5%;
}
.logopage1{
    position: relative;
    display: block;
    /* margin-left: 10%; */
    margin: auto;
    margin-top: -5%;
    margin-bottom: -2%;
    max-width: 510px;
    min-width: 320px;
    width: 40%;
}
.grubheader{}
.comboheader{}
.combospaper{}
.wetyerwisselheader{
  margin-top: 130px;
}
.wisselpaper{}
.brewskiesheader{}
.brewskiespaper{}
.brewskiesimage{
    height: auto;
    width: 100%;
    float:left;
}
.brewextra{
    height: auto;
    float: right;
    position: relative;
    left: 3%;
    width: 55%;
}
.brewimg{
    height: 60%;
    width: 85%;
    position: relative;
    display: block;
    margin: 0 auto;
    bottom: 27%;
}

.extrapaper{
  height: 250px;
}

.brew{
  height: 225px;
}

.grubheader{
  margin-top: 150px;
}

/*PAGE 2 CLASSES*/
.weenies{}
.weeniespaper{
    column-count: 1;
}
.instagram img{
    position: relative;
    max-width: 40%;
    margin-left: 66%;
    margin-top: -14%;
    margin-bottom: -10%;
}

/*PAGE 3 CLASSES*/
.dippers{
    padding-top: 1px;
}
.dipperspaper {
    column-count: 2;
}
.homewreckers{
    position: relative;
    margin: 0 auto;
    width: 65%
    text-align: center;
}
.homewreckerpaper{
    column-count: 1;
    display: inline-flex;
    flex-wrap: wrap;
}
.pickyerpaper{
    margin-right: -7%;
}
.homewrecker-img img{
    position: relative;
    display: block;
    /* margin-left: 10%; */
    margin: auto;
    margin-bottom: -5%;
    margin-top: -5%;
    max-width: 510px;
    min-width: 320px;
    width: 90%;
}
.youngins{}
.younginpaper{}
.youngins-img img{
    position: relative;
    max-width: 50%;
    margin-left: 50%;
    margin-top: -11%;
    margin-bottom: -25%;
}
.burgers{}
.burgerspaper{}

/*PAGE 4 CLASSES*/
.subsheader{}
.subsNSandwichespaper{}
.henhouseheader{}
.henpaper{}
.deezertsheader{}
.deezertspaper{}
.logo4 img{
    position: relative;
    display: block;
    /* margin-left: 10%; */
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 510px;
    min-width: 320px;
    width: 50%;
}
.rabbitheader{}
.rabbitFixinspaper{}
.xtraheader{}
.xtrapaper{}



/*>1024*/
    @media screen and (min-width: 1024px) {
        h2{
            font-size: 50px;
        }
        .itemTitle{
            font-size: 17px;
        }
        h3{
            letter-spacing: 3px;
        }
    }

    @media screen and (max-width: 1024px) {
      #page2{
        margin-top: -25%;
      }
    }


/*1024>x>860*/
    @media screen and (max-width: 1024px) and (min-width: 860px) {

        h2{
            font-size: 4.4vw;
        }
        h3{
            letter-spacing: 3px;
        }
    }

/*<860*/
    @media screen and (max-width: 860px) {
        h2{
            font-size: 32px;
        }
        h3{
            letter-spacing: 1px;
        }
    }

/*>660*/
    @media screen and (min-width: 660px) {
        h2{
            min-width: 313px;
        }
        .col {
            flex: 1 auto;
        }
        .weeniespaper{
            column-count: 2;
        }
        .dipperitems{
            column-count: 2;
        }
        .itemTitle{
            font-size: 15px;
        }
    }

/*<660*/
@media screen and (max-width:660px){
  .grubheader{
    margin-top: 0;
  }
  .wetyerwisselheader{
    margin-top: 0;
  }
    h1{
        min-width: 313px;
        font-size: 32px;
    }
    h2{
        min-width: 313px;
        margin-bottom: -2%;
    }
    .page3{
        flex-direction: column;
    }

    .brewextra{
      float: none;
  margin: 0 auto;
  width: 95%;
  margin-left: 0;
    }

    #page2{
      margin-top: 110px;
    }

    .brewimg{
      bottom: 0;
    }

    .row2-left{
        width: 90%;
    }
    .row2-right{
        width: 90%;
    }
    .logopage1{
        margin-bottom: 5%;
    }
    .grubheader{
        font-size: -webkit-xxx-large;
    }
    .instagram img{
        max-width: 100%;
        margin-left: -5%;
        margin-top: -25%;
        margin-bottom: -30%;
    }
    .dippers{
        padding-top: 2%;
        font-size: 30px;
        letter-spacing: 10px;
    }
    .burgers {
    margin-top: 7%;
    }
}


@media sceen and (max-width: 1305px){
  .combosheader{
    letter-spacing: 6px;
  }

  .brewskiesheader{
    letter-spacing: 6px;
  }
}
/*@media screen and (max-width:531px){}*/

@media screen and (max-width: 321px) {
    body{
        margin-left: 3.5%
    }
    h1{
        margin-left: -8%;
    }
    h2{
        margin-left: -20px;
    }
    .paper{
        margin-left: -6.6%;
    }
    .logopage1{
        margin-left: -10%;
    }
    .homewreckers{
        margin-left: -7%;
    }
    .logo4 img{
      right: 27px;
    }
    .brewimg{
      bottom: -5px;
    }
    #page2{
      margin-top: 145px;
    }
}
@media screen and (max-width: 376px){
  .xtrapaper{
    margin-right: 40px;
  }
}

/*margin-top: 2%;*/
.items{
    width:100%;
    margin-bottom: 5px;
    display: table-row;
    display: inline-flex;
    flex-wrap: wrap;
}

.itemTitle{
    width: 80%;
    float: left;
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 13px;
}

.itemDescription{
    width: 75%;
    font-size: 12px;
    margin: 0;
}
.hwitemDescription{
    width: 75%;
    font-size: 12px;
    margin: 0;
}

.itemPrice{
    width: 15%;
    float: left;
    font-size: 13.5px;
    margin: 0;
    margin-bottom: 0;
}
